/*установили стили карты для Desktop 1280 */
.lead__group-4 {
  margin: 90px 0 0 23px;
  display: flex;
  max-width: 937px;
  min-height: 263px;
}

/* установили стили карты для Laptop */
@media screen and (max-width: 1024px) {
  .lead__group-4 {
    margin: 85px 0 0 22px;
    max-width: 884px;
    min-height: 248px;
  }
}

/* установили стили карты для iPad */
@media screen and (max-width: 768px) {
  .lead__group-4 {
    margin: 70px 18px 0 18px;
    max-width: 731px;
    min-height: 205px;
  }
}

/* установили стили карты для iphone 5/SE */
@media screen and (max-width: 320px) {
  .lead__group-4 {
    margin: 30px 7px 0 8px;
    max-width: 304px;
    min-height: 85px;
  }
}


