/*установили стили картинок для Desktop 1280 */
.place__image {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* установили стили картинок для Laptop */
@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

/* установили стили картинок для iPad */
@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

/* установили стили картинок для iphone 5/SE */
@media screen and (max-width: 320px) {
  .place__image {
    width: 320px;
    height: 320px;
    grid-column: 1;
    grid-row: 3;
  }
}
