/* установили стили модификатора с ключом для Desktop 1280 */
.place__paragraph_margin_bottom {
  margin: 0 0 27px 0;
}

/* установили стили модификатора с ключом для Laptop */
@media screen and (max-width: 1024px) {
  .place__paragraph_margin_bottom {
    margin: 0 0 27px 0;
  }
}

/* установили стили модификатора с ключом для iPad */
@media screen and (max-width: 768px) {
  .place__paragraph_margin_bottom{
    margin: 0 0 25px 0;
  }
}

/* установили стили модификатора с ключом для iphone 5/SE */
@media screen and (max-width: 320px) {
  .place__paragraph_margin_bottom{
    margin: 0 0 25px 0;
  }
}
