/* установили стили списка для Desktop 1280 и Laptop 1024*/
.intro__list {
  list-style-type: none;
  max-width: 690px;
  min-height: 90px;
  padding: 0;
  margin: 33px 0 0 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

/* установили стили списка для iPad */
@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}

/* установили стили списка для iphone 5/SE */
@media screen and (max-width: 320px) {
  .intro__list {
    max-width: 288px;
    margin: 34px 0 0 0;
  }
}
