/* Блок шапка для Desktop 1280 */
.header {
  max-width: 1184px;;
  margin: 28px 48px 0 48px;
  display: grid;
  grid-template: 52px / 1fr minmax(auto, 30px) minmax(auto, 30px);
  column-gap: 18px;
}

/* установили стили шакпки для Laptop */
@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px 48px 48px 48px;
  }
}

/* установили стили шакпки для iPad */
@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px 24px 0 24px;
  }
}

/* установили стили шакпки для iphone 5/SE */
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    grid-template: 42px / 1fr minmax(auto, 22px) minmax(auto, 22px);
    margin: 16px 16px 48px 16px;
  }
}
