/* установили стили ссылок для Desktop 1280, 1024, 768*/
.footer__link {
  color: white;
  margin-left: 18px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
}

/* обнулили левый отступ первой ссылки */
.footer__link:nth-child(1) {
  margin-left: 0;
}

/* наведение мышкой на прозрачную ссылку */
.footer__link:hover {
  opacity: 0.8;
}

/* установили стили ссылок для iphone 5/SE */
@media screen and (max-width: 320px) {
.footer__link {
  margin: 32px 30px 0 0;
  font-size: 24px;
  line-height: 24px;
}
/* обнулили верхний отступ первой ссылки */
.footer__link:nth-child(1) {
  margin-top: 0;
  }
}
