/* Блок до Байкала Desktop 1280*/
.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto 92px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* установили стили Байкала для Laptop */
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
    margin: 92px 0 92px 0;
  }
}

/* установили стили Байкала для iPad */
@media screen and (max-width: 768px) and (max-height: 1024px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
    margin: 90px 0 88px 0;
  }
}

/* установили стили Байкала для iphone 5/SE */
@media screen and (max-width: 320px) and (max-height: 568px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    margin: 66px 0 64px 0;
    padding: 0 16px 0 16px;
  }
}


