/* установили стили website для Desktop 1280*/
.place__website {
  max-width: 456px;
  min-height: 46px;
  display: grid;
  grid-auto-rows: 12px 22px;
  gap: 12px;
  grid-column: 2; grid-row: 1 / 2;
  align-self: end;
}

/* установили стили website для Laptop */
@media screen and (max-width: 768px) {
  .place__website {
    max-width: 456px;
    align-self: center;
    grid-column: 2; grid-row: 1 / 2;
  }
}

/* установили стили website для iPad */
@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
    align-self: end;
    grid-column: 2; grid-row: 1 / 2;
  }
}

/* установили стили website для iphone 5/SE */
@media screen and (max-width: 320px) {
  .place__website {
    margin: 0 16px 0 16px;
    max-width: 288px;
    align-self: start;
    grid-column: 1; grid-row: 2;
  }
}
